@font-face {
  font-family: 'NeoSans';
  src: url('../fonts/NeoSansIntel.eot');
  src: url('../fonts/NeoSansIntel.eot?#iefix') format('embedded-opentype'),
   url('../fonts/NeoSansIntel.ttf') format('truetype');
}

@font-face {
  font-family: 'NeoSansLight';
  src: url('../fonts/NeoSansIntel-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'NeoSansMedium';
  src: url('../fonts/NeoSansIntel-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'NeoSansMediumItalic';
  src: url('../fonts/NeoSansIntel-MediumItalic.ttf') format('truetype');
}

/****Elementos principales****/
html,body{
    margin:0;
    width:100%;
    height:100%;
    font-family:'NeoSans';
    font-size:1vw;
    overflow: hidden;
    background-color: #CED0CF;
}
ul{
    list-style:none;
}
a{
    text-decoration:none;
}
h1,h2,h3,h4{
    font-weight:100;
    margin:0;
}
h1{
    margin-bottom:3%;
}
/**MENU SUPERIOR**/
header,#menu>li>ul{
    margin:0;
    text-align:center;
    font-size:1.2vw;
    font-family:'NeoSansLight';
    background: -moz-radial-gradient(center, ellipse cover, #36b4de 0%, #257ac0 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #36b4de), color-stop(100%, #257ac0)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #36b4de 0%, #257ac0 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #36b4de 0%, #257ac0 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #36b4de 0%, #257ac0 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #36b4de 0%, #257ac0 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36b4de', endColorstr='#257ac0',GradientType=1 ); /* ie6-9 */
}

#img-home{
    width: 25%;
    margin-right: 7%;
}
#menu-principal nav >ul {
   margin:0;
   padding:0;
}
#menu-principal nav >ul >li{
    display:inline-block;
    padding:10px;
}
.item-menu-ppal{
   color:white;
   text-decoration:none;
}
#menu>li>ul li .item-menu-ppal:hover{
    /*text-shadow: 0px 2px 2px white;*/
    text-shadow: 0px 0px 5px rgba(150, 220, 255, 1);
    font-weight:bold;
}

#menu>li>ul{
  display: none;
  position: absolute;
  margin-top: 11px;
  right: 28%;
    padding:0px;
}
#menu>li:hover>ul,#menu>li>ul:hover{
  display:block;
}


#menu>li>ul li{
    padding: 5px 10px;
}
#menu>li>ul li:nth-child(2){
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
/**MENU LATERAL**/

#menu-lateral{
    background-color:#eaeaea;
    text-align:center;
    display:inline-block;
    vertical-align:top;
    width:6%;
    height:100%;
    -moz-box-shadow: -4px 2px 17px #424242;
    -webkit-box-shadow: -4px 2px 17px #424242;
    box-shadow: -6px 0px 16px rgb(160, 160, 160);
}
#menu-lateral ul {
   margin:0;
   padding:0;
}
#menu-lateral ul li{
    display:block;
    color:#37b6df;
    border-bottom:1px solid #ccc;
    font-size:0.8vw;
}

#menu-lateral ul li span{
    color:#f08a06;
    font-size:1.3vw;
}
#menu-lateral ul li:not(:last-child) img{
    width: 35%;
    display: block;
    margin: 0 auto;
    margin-bottom:10px;
}
#menu-lateral ul #journals img{
    width: 45%;
}
.journals-inactivo{
    display:none;
}
#menu-lateral ul li:first-child{
   padding-bottom:50%;
   cursor:default;
   padding:18% 0%;
}
#menu-lateral ul li:first-child img{
   margin-bottom:20px;
}
#menu-lateral ul li:nth-last-child(2){
   border-bottom:none;
}
#menu-lateral ul li:last-child{
   border-bottom:none;
   padding:18% 0%;
}
.opcion-lat{
     text-decoration: none;
     display: block;
     width: 100%;
     height: 100%;
     padding:18% 0%;
     color:#37b6df;
}
#menu-lateral ul li:first-child img{
   margin-bottom:20px;
   width:100%;
}
#img-doc-menu{
    width:3.5vw;
    height:3.5vw;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    overflow: hidden;
    display:inline-block;
    vertical-align:top;
    margin: 0 12%;
    margin-bottom: 5%;
}

#img-doc-menu img{
    width:100%;
}
/**Seccion contenido**/
#gran-contenedor{
    height:100%;
}
.contenido-principal{
    display:inline-block;
    width:93.5%;
}
#contenido-fondo{
    /*background-image:url('../img/fondo.png');
    background-repeat: no-repeat;
    background-position: left top;*/
    background-size:100% 100%;
    background-color:#CED0CF;
}
#contenido-dinamico{
    background:transparent;
}
#logo-visita{
    float:right;
    text-align:right;
    margin-right: -10px;
    width:30%;
}

#logo-visita img{
    width:82%;
    border-radius:12px;
    -moz-box-shadow: 0px 9px 10px #858085;
    -webkit-box-shadow: 0px 9px 10px #858085;
    box-shadow: 0px 4px 10px rgb(160, 160, 160);
}

#img-instructivo{
    width: 33%;
    bottom: 0;
    right: 0;
    /*margin-right: 2.1%;
    margin-bottom: 1%;*/
    cursor:pointer;
}
#img-logo-tq{
    width: 3%;
    right: 0;
    bottom: 0;
    margin-right: 1.5%;
    margin-bottom: 1%;
    cursor: pointer;
    position: absolute;
}
.bajo-pop{
    position:absolute;
}

/**Responsive**/

@media (min-width:1110px) and (max-width:1365px){
    #menu-lateral{
        width:7.4%;
    }
    #menu-lateral ul li{
        font-size:1vw;
    }
    .contenido-principal{
        width:92%;
    }
    #img-instructivo{
        width: 2.5%;
        margin-right: 2.5%;
        margin-bottom: 2%;
    }
}

@media (min-width:852px) and (max-width:1109px){
    #menu-lateral{
        width:9.4%;
    }
    #menu-lateral ul li{
        font-size:1vw;
    }
    .contenido-principal{
        width:90%;
    }
     #img-instructivo{
        width: 2.8%;
        margin-right: 3.2%;
        margin-bottom: 2%;
    }
    #img-doc-menu{
        width:4.5vw;
        height:4.5vw;
    }
}
@media(min-width:665px) and (max-width:852px){
   
    #menu-lateral{
        width:16%;
    }
    #menu-lateral ul li{
        font-size:2vw;
    }
    .contenido-principal{
        width:83%;
    }
    #img-instructivo{
        width: 6%;
        margin-right: 5.1%;
        margin-bottom: 4%;
    }
    
}
@media(min-width:565px) and (max-width:664px){
   
    #menu-lateral{
        width:18%;
    }
    #menu-lateral ul li{
        font-size:2vw;
    }
    .contenido-principal{
        width:81%;
    }
    #img-instructivo{
        width: 6%;
        margin-right: 6.1%;
        margin-bottom: 4%;
    }
    
}
@media (min-width:320px) and (max-width:564px){
       
    #menu-lateral{
        width:21%;
    }
    #menu-lateral ul li{
        font-size:2.5vw;
    }
    .contenido-principal{
        width:78%;
    }
    #img-instructivo{
        width: 7%;
        margin-right: 7.1%;
        margin-bottom: 5%;
    }
}
@media (min-width:320px) and (max-width: 852px){
    body,html{
        overflow-y:auto;
        overflow-x:hidden;
        
    }
    #menu-principal{
        display:none;
    }
    #logo-visita{
        text-align:center;
        margin-top:20px;
        float:none;
        width:auto;
    }
    #logo-visita img{
    border-radius:0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    }
    #img-instructivo{
        width:35%;
        position:initial;
        margin:0;
    }
    #contenido-fondo{
        background-color:#CED0CF;
        background-image:none;
        overflow-y:auto;
        overflow-x:hidden;
    }
    #menu-lateral ul li:not(:last-child) img{
        width:30%;
    }
    #menu-lateral ul li:first-child img{
        width:100%;
    }
    #img-doc-menu{
        width:8.5vw;
        height:8.5vw;
    }
    #menu-lateral ul li span{
        font-size:3.3vw;
    }
}