
/**** Perfil ****/

#contenido-actividades{
    width:93.5%;
    margin:0 auto;
    margin-top:5%;
    color:#878888;
}
.encabezado-pop h1:last-child {
    cursor:pointer;
}
h1{
    color:#2780c3;
    font-size:1.7vw;
}

.info-izq{
    margin-left:10%;
    display:inline-block;
    margin-top:0;
    color:#878888;
    width:65%;
}
.info-center{
    margin-left: 19%;
    width: 65%;
}
#info-actividades{
    margin-top:-3%;
}
#contenido-perfil{
    width:93.5%;
    margin:0 auto;
    margin-top:5%;
    color:#878888;
}

h2{
    font-size:1.8vw;
    color:#2f324f;
}
.columna{
    width:49%;
    display:inline-block;
    vertical-align:top;
}
.columna:first-child{
    margin-right:1%;
}
#datos-doc,#puntos,#redenciones,#muestra-modulos,.modulo,.seccion-acti,.info-popup{
    border-radius:5px;
    font-family: 'NeoSansLight';
    background: rgba(234,234,234,1);
    background: -moz-linear-gradient(left, rgba(234,234,234,1) 0%, rgba(253,253,253,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(234,234,234,1)), color-stop(100%, rgba(253,253,253,1)));
    background: -webkit-linear-gradient(left, rgba(234,234,234,1) 0%, rgba(253,253,253,1) 100%);
    background: -o-linear-gradient(left, rgba(234,234,234,1) 0%, rgba(253,253,253,1) 100%);
    background: -ms-linear-gradient(left, rgba(234,234,234,1) 0%, rgba(253,253,253,1) 100%);
    background: linear-gradient(to right, rgba(234,234,234,1) 0%, rgba(253,253,253,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#fdfdfd', GradientType=1 );
    -moz-box-shadow: 0px 9px 10px #858085;
    -webkit-box-shadow: 0px 9px 10px #858085;
    box-shadow: 0px 4px 10px rgb(160, 160, 160);
}
#datos-doc{
    padding:5% 3%;
}
/**Columna izquierda**/
/* Info personal*/
#img-doc{
    width:4.5vw;
    height:4.5vw;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    overflow: hidden;
    display:inline-block;
    vertical-align:top;
    margin: 0% 5%;
}

#img-doc img{
    width:100%;
}
#datos{
    display:inline-block;
    vertical-align:top;
}
#datos p{
    color: #2780c3;
    margin: 0;
    font-size: 1.2vw;
    margin-bottom: 9%;
}
#datos a,.btn-red, .btn-red p{
    padding: 1.5% 2%;
    color: #2780c3;
    font-size: 1vw;
    border: 1px solid #2780c3;
    border-radius: 8px;
}
#datos a img{
    vertical-align: bottom;
    width: 7%;
    margin: 2px 4px;
}

/* Botones de acceso*/

#btns-acceso{
    margin:3% 0%;
}
.btn-acceso{
    display: block;
    margin: 1.3% 0%;
    color:white;
    text-align: center;
    padding: 2% 4% 1.5% 4%;
    border-radius: 5px;
    background: -moz-radial-gradient(center, ellipse cover, #36b4de 0%, #257ac0 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #36b4de), color-stop(100%, #257ac0));
    background: -webkit-radial-gradient(center, ellipse cover, #36b4de 0%, #257ac0 100%);
    background: -o-radial-gradient(center, ellipse cover, #36b4de 0%, #257ac0 100%);
    background: -ms-radial-gradient(center, ellipse cover, #36b4de 0%, #257ac0 100%);
    background: radial-gradient(ellipse at center, #36b4de 0%, #257ac0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#36b4de', endColorstr='#257ac0',GradientType=1 );
    cursor:pointer;
}

.btn-acceso img{
    float: left;
    margin-right: 7%;
    width:4%;
}

.btn-acceso span{
    font-size: 0.9vw;
    vertical-align: top;
}

/**Columna derecha**/

#puntos{
    font-size: 1.3vw;
    color: #2f324f;
    padding: 2% 11% 2% 2%;
    font-family: 'NeoSans';
    font-weight: bold;
    width: 31%;
    display: inline-block;
    margin-right:1%;
}
#puntos span{
    font-size:1.5vw;
    color:#7fc745;
}
#info-actividades #btn-volver-visita{
    padding: 1% 4%;
    width: 21%;
    float: right;
}
#btn-volver-visita{
    color:white;
    font-size:0.9vw;
    text-align:center;
    background: #f5b208;
    border-radius:5px;
    padding: 2% 4%;
    width:45.5%;
    display:inline-block;
    background: -moz-radial-gradient(center, ellipse cover, #f5b208 0%, #f08a06 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f5b208), color-stop(100%, #f08a06));
    background: -webkit-radial-gradient(center, ellipse cover, #f5b208 0%, #f08a06 100%);
    background: -o-radial-gradient(center, ellipse cover, #f5b208 0%, #f08a06 100%);
    background: -ms-radial-gradient(center, ellipse cover, #f5b208 0%, #f08a06 100%);
    background: radial-gradient(ellipse at center, #f5b208 0%, #f08a06 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5b208', endColorstr='#f08a06', GradientType=1 );
}

/* Redenciones*/
#redenciones{
    font-size: 1.3vw;
    color: #2f324f;
    padding: 2% 2%;
    font-family: 'NeoSans';
    font-weight: bold;
    width: 98%;
    margin-top:2.5%;
    cursor:pointer;
}

#redenciones table{
    margin-top:1%;
    width:100%;
    font-family:'NeoSansLight';
}
#redenciones table tr td{
    
    font-size:1vw;
}
#redenciones table tr td:last-child{
    color:#2780c3;
    text-align:right;
}



/** Modulos**/
#seccion-inferior{
    width:97.5%;
}
#muestra-modulos{
    padding:2.2% 0% 2.2% 3%;
    width:100%;

}
.columna-tit, #info-extra-sorteo table tr td, .info-popup table tr:first-child td{
    color:#2780c3;
    font-size:1.4vw;
    display:inline-block;
    vertical-align:top;
    width:10%;
}
.info-popup table tr:first-child td{
    width:auto;
}
.columna-tit span,#info-extra-sorteo table tr td, .info-popup table tr:first-child td{
    font-weight:600;
    font-family:'NeoSans';
}

#columna-mod{
    width: 86%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    margin-right: 2%;
}

.flecha{
    display:inline-block;
    font-weight:bolder;
    vertical-align:middle;
    color: #3bafe3;
    font-size: 2.3vw;
    font-family: 'NeoSans';
    cursor:pointer;
    
}
#flecha-izq{
    text-align:left;
    margin-right:2%;
}
#flecha-der{
    text-align:right;
    margin-left:2%;
}
#slider-mod,#slider-redenciones{
    width: 70%;
    display: inline-block;
    margin: 0% 6%;
    overflow: hidden;
    vertical-align: middle;
}
.tira-slides{
    text-align:left;
    margin-left: 0px
}
.modulo,.premio{
    text-align: center;
    color: #2780c3;
    width: 6vw;
    padding: 0.4vw 0.7vw;
    display: inline-block;
    margin: 0.8vw;
}
.modulo:not(:last-child){
    margin-right:0.35vw
}
.modulo h4{
    display: block;
    font-weight: bolder;
    font-size: 1vw;
}
.mod-activo{
   background-image: url("../img/icon/actual-mod.png");
   background-repeat:no-repeat;
   background-position:left top;
   background-size:35%;
}
.color-vid img{
    width:10%;
    display:inline-block;
}

#ubica-modulos{
    width: 103%;
    overflow: hidden;
}

#referencias{
    float:right;
    width:15%;
}
#ubica-modulos ul{
    padding:0;
    text-align:left;
    font-size:0.9vw;
}
#ubica-modulos ul li img{
    width: 8%;
    margin-right: 2%;
}


/****Actividades academicas ****/

/*#contenido-actividades{
    margin-top:3%;
}*/
.seccion-acti{
    margin-bottom:1%;
}
.redencion:first-child{
    border-right:1px solid #ccc;
}

.redencion{
    display:inline-block;
    width: 27%;
    padding: 0% 11%;
    margin: 1% 0%;
}

.redencion .columna-tit{
    display:block;
    margin-bottom:3%;
    width:65%;
}

.btn-red{
    display: inline-block;
    width: 36%;
    margin-right: 4%;
    text-align: center;
    cursor:pointer;
}
.btn-red-activo{
    color:white;
    background-color:#7fc745;
    border-color:#7fc745;
}

#seccion-med{
    padding:1% 2%;
}

#slider-redenciones{
     width: 80%;
     margin: 0% 7%;
}

.premio{
    text-align:center;
    padding:0;
    width:7vw;
    margin: 0.5vw 1vw;
    margin-top:1%;
    
}
.premio img, .premio p, .premio a{
    display:block;
    margin:0 auto;
}

.premio img{
    width:44%;
    margin-bottom:2%;
}

.premio p{
    margin-bottom:10%;
    font-size:1vw;
}

.premio a{
    width:70%;
}

.redencion-info:first-child{
    border-right:1px solid #ccc;
}
.redencion-info{
    width:47%;
    padding: 0.5% 1%;
    margin:1% 0%;
    display:inline-block;
}

#seccion-det .redencion-info:last-child{
    vertical-align:top;
}
#columna-libro{
    display: inline-block;
    text-align: right;
    width: 25%;
    margin-left: 7%;
    margin-right: 5%;
    vertical-align:top;
}

#columna-libro img{
    width:80%;
}
#descripcion-sorteo{
    display:inline-block;
    width:60%;
}

#descripcion-sorteo p{
    font-size:1vw;
}

.activo-redimir{
    color:white;
    background-color:#f08a06;
    border-color:#f08a06;
}
.inactivo-redimir{
    color: white;
    background-color: #B6B6B6;
    border-color: #B6B6B6;
    cursor:not-allowed;
}
#info-extra-sorteo table{
    width:100%;
}

#info-extra-sorteo table tr td{
    font-size: 1vw;
    display: table-cell;
}

#info-extra-sorteo table tr td span{
    color: #878888;
    font-family:'NeoSansLight';
}

/**** Modulo ****/

#videos {
    position: absolute;
    z-index: 1;
    width: 40%;
    margin: 16% 0%;
    display: inline-block;
}
.videos-derecha{
    right:18vw;
    left:initial;
}
.videos-izquierda{
    left:10%;
    right:initial;
}
.anima-centro{
    right: 28%;
    width: 45%;
    transition: all 1s;
}
#visitador{
    position: absolute;
    z-index: 2;
    width: 17%;
    margin: 0% 10%;
    display: inline-block;
}
#visitador-tip{
    width: 20%;
    margin: 0%;
    display: inline-block;
    vertical-align: top;
    margin-top: 6%;
    display: inline-block;
}
 .visitador-derecha{
     right:8%;
     left:initial;
 }
 .visitador-izquierda{
     right:initial;
 }


#slider-videos{
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    /* margin-top: 15%; */
    vertical-align: middle;
    /* overflow: hidden; */
}

#tira-videos{
    text-align: left;
    width: 68%;
    margin: 0 auto;
}

.video-derecha{
    
}
.item-video{
    text-align: center;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.item-video img{
    width:160%;
}
.item-video:first-child{
    width:28%;
}
.item-video:last-child{
    width:32%;
}

.posicion-izq{
    margin-top: 1%;
    width: 100%;
    text-align:left;
}
.posicion-centro{
    margin-top: 1%;
    width: 100%;
    text-align:center;
}
.posicion-der{
    margin-top: 1%;
    width: 100%;
    text-align:right;
}
/** Instructivo **/

.contenido-instructivo{
    text-align: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    /* top: 0; */
    z-index: 10;
    width: 93.5%;
}

.contenido-video-produc, .contenido-popup{
    text-align: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    /* top: 0; */
    z-index: 10;
    width: 93.5%;
    display:none;
}
.contenido-video-produc .info-popup,
.contenido-instructivo .info-popup{
    width:45%;
    padding:0;
    background:none;
    box-shadow:none;
}
#instructivo video{
    margin-left: 27%;
    margin-top: 10%;
}
#buffer{
    display:none;
}
.contenido-muestra{
    display:block;
}
/** Muestra médica **/

.encabezado-pop{
    width:45%;
    margin:0 auto;
    text-align:left;
}

.pop-muestra{
    position: relative;
    top: 15%;
}

.encabezado-pop h1{
    color:white;
    display:inline-block;
    font-size:1.5vw;
}
.encabezado-pop h1:last-child{
    float: right;
}
.histo-red encabezado-pop{
    width:60%;
}
.histo-red .encabezado-pop h1:last-child{
    margin-right: -6%;
}
.info-popup{
    width: 40%;
    margin: 0 auto;
    padding: 1% 3%;
    text-align:left;
    font-size:1.2vw;
    color:#696969;
}
.contenido-muestra label{
    display:inline-block;
    margin-right:3%;
}
.histo-red .info-popup{
    width:57%;
    padding:2%;
    font-size:1vw;
}
.histo-red .info-popup h1{
    font-weight:bolder;
}

.info-popup p:first-child{
    margin-top:0;
}

.info-popup h5{
    font-size: 1.2vw;
    color: #2780c3;
    margin: 2% auto;
}
.info-popup table{
    border-collapse:collapse;
    border-spacing:25px 0px;
    font-size:1.1vw;
}
.info-popup table tr td{
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    padding: 2% 0%;
}
.info-popup table tr:first-child td{
    display:table-cell;
}
.info-popup table tr:not(:last-child) td{
    border-bottom:1px solid #d8d8d8;
}
#info-direct{
    font-size:1vw;
}
.info-inputs{
    width: 49%;
    display: inline-block;
    text-align: left;
}
#info-direc{
    padding-left:8%;
}
.fila-direct {
    width: auto;
    padding-left: 13%;
}
.fila-direc label{
    font-size:1.2vw;
    text-align:left;
    display:block;
}
.fila-direc input,.fila-direc select{
      width: 80%;
      border-radius: 5px;
      border: none;
      background-color: #2780c3;
      margin-bottom: 5%;
      padding: 2%;
      color: white;
      font-size: 1.1vw;
}
.fila-direc select{
      width: 84%;
}
.fila-direc select option{
    font-size:1vw;
}
#tabla-redenciones{
    padding: 1% 0.6% 2% 0.6%;
    width: 45%;
    max-height: 36vh;
    overflow-y: auto;
    margin-left: 27%;
}
#pop-info .encabezado-pop{
    width:60%;
}

#pop-info .info-popup{
    width:54%;
    font-size:1.1vw;
}
#pop-info .info-popup h1{ 
    font-size: 1.4vw;
}
#pop-info .info-popup ul{
    list-style:initial;
}
.info-popup ol{
    color:#2780c3;
    font-weight:bolder;
}
.info-popup ol a:hover, .info-popup ol a:active, .info-popup ol a:visited, .info-popup ol a:link{
    color: #696969;
    font-weight:100;
}

@media (min-width:1350px) and (max-width: 1550px){
    .anima-centro{
        right:34%;
    }
}
@media (min-width:1000) and (max-width: 1349px){
    .anima-centro{
        right:38%;
    }
}
@media (min-width:852px) and (max-width: 999px){
    .anima-centro{
        right:40%;
    }
}

/**Movil**/

@media (min-width:320px) and (max-width: 852px){
    h1{
        font-size:3.7vw;
    }
    .columna{
        display:block;
        width:100%;
    }
    #contenido-perfil, #contenido-actividades{
        width:80%;
        margin-top: 5%;
    }
    h2{
        font-size:4.8vw;
    }
    #datos p{
        font-size:3.6vw;
    }
    #datos a, .btn-red, .btn-red p{
        font-size:3vw;
    }
    #img-doc{
        width:10.5vw;
        height:10.5vw;
    }
    .btn-acceso:first-child{
        display:none;
    }
    .btn-acceso span{
        font-size:2.5vw;
    }
    .btn-acceso img{
        display:none;
    }
    #puntos{
        font-size:3.5vw;
        display:block;
        width:84%;
    }
    #puntos span {
        font-size:4vw;
    }
    #btn-volver-visita{
        display:none;
    }
    #redenciones{
        font-size:3.5vw;
    }
    #redenciones table tr td{
        font-size:3vw;
    }
    #seccion-inferior{
        width:99.5%;
    }
    #muestra-modulos{
        margin-top:2%;        
    }
    .columna-tit,  .info-popup table tr:first-child td
    {
        font-size:3.5vw;
    }
    .columna-tit{
        vertical-align:middle;
        width:80%;
    }
    #columna-mod{
        width:98%;
        vertical-align:middle;
        text-align:center;
        margin-top:2%;
    }
    .flecha{
        font-size:5vw;
        visibility:visible;
    }
    #slider-mod{
        width:54%;
        margin:0% 12%;
        border-radius:5px;
    }
    .modulo:not(:last-child){
        margin-right:0;
        width: 30vw;
        padding: 1.8vw 0.7vw;
        margin: 0.8vw;
    }
    .modulo h4{
        font-size:3vw;
        margin-bottom:2%;
    }
    #referencias{
        width:46%;
        float:left;
    }
    #ubica-modulos ul{
        font-size:2.9vw;
    }
    #instructivo{
        width:100%;
        position:absolute;
        top:0;
    }
    #instructivo video{
        margin:0 auto;
        margin-top:25vh;
        width:95%;
    }
    .info-izq{
        display:none;
        margin:0;
        width:100%;
    }
    .info-center{
        display:block;
    }
    #visitador-tip{
        width:auto;
    }
    #visitador-tip video{
        height:78vh;
    }
    
    /*.btn-sorteo{
        display:block;
        margin-top:2%;
    }*/
    .redencion{
        width:100%;
        padding:1% 0%;
        text-align:center;
    }
    .redencion .columna-tit{
        display:inline-block;
    }
    .premio{
        width:25vw;
    }
    .premio p{
        font-size:3vw;
    }
    #seccion-med{
        padding:1% 13%;
    }
    #slider-redenciones{
        width:63%;
        margin:0% 11%;
    }
    .redencion-info{
        width:100%;
    }
    #info-extra-sorteo table tr td{
        font-size:3vw;
    }
    #descripcion-sorteo p{
        font-size: 3vw;
        margin-top: 2%;
    }
    #info-extra-sorteo{
        margin-left: 6%;
    }
    #instructivo, .contenido-popup{
        position:absolute;
        top:0;
        width: 100vw;
    }
    #pop-info .encabezado-pop {
        width: 128%;
    }
    #pop-info .encabezado-pop h1{
        width:50%;
    }
    #pop-info .info-popup {
        width: 92%;
        font-size: 3vw;
    }
    .encabezado-pop{
        width:91%;
        margin-left:2%;
        text-align:left;
    }
    .encabezado-pop h1{
        font-size: 3.5vw;
    }
    
    #tabla-redenciones{
        width: 96%;
        margin-left:auto;
    }
    .info-popup{
        font-size: 3vw;
        width: 92%;
    } 
    .info-popup h5{
        font-size: 3.2vw;
    }
    .info-popup table{
        font-size: 3vw;
    }
    .fila-direc label{
        font-size: 3.2vw;
    }
    .fila-direc input{
        font-size: 3.1vw;
    }
    .seccion-acti:last-child {
    margin-bottom: 7%;
}
    
}
