.contenido-popup{
    display:none;
}

.botones-pop{
    margin-top:0.8%;
}
.btn-acceso-pop, .btn-central-pop{
    padding: 0.4% 1.8%;
    border-radius: 8px;
    color: white;
    cursor:pointer;
}
.btn-acceso-pop{
    background-color:#257ac0;
}
.btn-central-pop{
    background-color:#f08a06;
    margin: 0% 0.1%;
    cursor:pointer;
}
#puntos-correcta{
    color:#2780c3;
    font-weight:bolder;
}
.btn-continuar-pop{
    text-align:center;
    font-family: 'NeoSans';
    font-size: 1vw;
    margin-top:4%;
    margin-bottom:3%;
    cursor:pointer;
}
.muestra-desactivada{
    background-color:#cacaca;
}
#calificar-video .info-popup{
    text-align:center;
}
#calificar-video .info-popup h5, #calificar-video .info-popup p{
    text-align:left;
} 
#calificar-video .califica-item{
    display: inline-block;
    margin-right: 1%;
    width: 31%;
}
#miniatura-califica{
     width: 100%;
}
#miniatura-califica img{
    width:100%;
}
#estrellas-calificacion{
    text-align: center;
}
#estrellas-calificacion a{
    width: 1vw;
    height:1vw;
    display:inline-block;
    background: url('../img/icon/estrellita.png') no-repeat;
    background-size: 1vw 1vw;
}
#estrellas-calificacion a.selected{
    background: url('../img/icon/estrellita-llena.png') no-repeat;
    background-size: 1vw 1vw;
}
.cursor-disabled {
    cursor: not-allowed !important;
}
.carga-web{
    display:none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 10001;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#carga-img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -148px;
    margin-top: -148px;
}