#visitador {
  display: none;
}

.galeria {
  right: 0;
  width: 100%;
  transform-style: preserve-3d;
  display: inline-block;
  vertical-align: middle;
}

.galeria:before {
  content: '';
  padding-top: 10%;
  width: 0;
}

.card {
  background-size: 2px 2px, cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
  border-radius: 3px;
}


/*.una {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAAEFsT2yAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFElEQVR4nGNhYGBwYIET////ZwAAETIDym2lzEcAAAAASUVORK5CYII=), url(../img/vid-cytil.jpg);
}
.dos {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAAEFsT2yAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFElEQVR4nGNhYGBwYIET////ZwAAETIDym2lzEcAAAAASUVORK5CYII=), url(../img/vid-benzirin.png);
}
.tres {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAAEFsT2yAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFElEQVR4nGNhYGBwYIET////ZwAAETIDym2lzEcAAAAASUVORK5CYII=), url(../img/vid-eptavis.jpg);
}*/

.imagen-video-pro {
  width: 100%;
  height: 100%;
}

.card h2 {
  color: #fff;
  font-family: lato;
  text-align: center;
  font-size: 6vh;
  font-weight: 300;
  line-height: 8vh;
  background: #FF7361;
  box-shadow: 0 0 5px rgba(0, 0, 0, .7);
}

.card h2:before {
  position: absolute;
  left: 1rem;
  font-weight: 300;
  color: #00262F;
}

.enlaza-video {
  height: inherit;
}

.galeria p {
  display: none;
  cursor: pointer;
}

.galeria input {
  visibility: hidden;
}

.galeria label {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  color: #3bafe3;
  font-size: 4vw;
  line-height: 15vh;
  text-align: right;
  height: 15vh;
  padding: 0 .5vw;
  z-index: 10;
  cursor: default;
}


/*.otra + .otra,
#prox:checked ~ .una .afin,
#uno:checked ~ .dos .afin {
  right: 0;
  text-align: left;
}
#uno:checked ~ .una .otra,
#prox:checked ~ .dos .otra{
  display: block;
}

:not(:checked) ~ .otra
{display: none;}*/

.otra + .otra,
#uno:checked ~ .tres .afin,
#dos:checked ~ .una .afin,
#tres:checked ~ .dos .afin {
  right: 0;
  text-align: left;
}

#uno:checked ~ .una .otra,
#dos:checked ~ .dos .otra,
#tres:checked ~ .tres .otra {
  background: #0D757D;
  display: block;
}


/*#uno:checked ~ .una .afin,
#dos:checked ~ .dos .afin,
#tres:checked ~ .tres .afin,*/

:not(:checked) ~ .otra {
  display: none;
}


/*
#uno:checked ~ .dos,
#prev:checked ~ .una {
  animation: 1s fuera-izq;
  animation-fill-mode: forwards;
  transform-origin: center left;
  z-index: 2;
}
#prox:checked ~ .una,
#prev:checked ~ .dos {
  animation: 1s fuera-dch;
  animation-fill-mode: forwards;
  transform-origin: center right;
  z-index: 2;
}
#uno:checked ~ .una,
#prox:checked ~ .dos {
  animation: 1s central;
  animation-fill-mode: forwards;
  transform-origin: center center;
  z-index:3;
}*/

#uno:checked ~ .dos,
#dos:checked ~ .tres,
#tres:checked ~ .una {
  animation: 1s fuera-izq;
  animation-fill-mode: forwards;
  transform-origin: center left;
  z-index: 2;
}

#uno:checked ~ .tres,
#dos:checked ~ .una,
#tres:checked ~ .dos {
  animation: 1.5s fuera-dch;
  animation-fill-mode: forwards;
  transform-origin: center right;
  z-index: 2;
}

#uno:checked ~ .una,
#dos:checked ~ .dos,
#tres:checked ~ .tres {
  animation: 2s central;
  animation-fill-mode: forwards;
  transform-origin: center center;
  z-index: 3;
}

.una {
  cursor: pointer;
}


/*@keyframes fuera-izq {
  0% {transform: scale(1) translatex(0%);} 
  70% {transform: scale(.4) translatex(-60%);}
  100% {transform: scale(.9) translatex(-10%);}
}
@keyframes fuera-dch {
  0% {transform: scale(1) translatex(0%);}
  70% {transform: scale(.4) translatex(60%);}
  100% {transform: scale(.9) translatex(10%);}
}
@keyframes central {
  0% {transform: scale(.4);z-index: 1;}
  80% {transform: scale(.9);z-index: 3;}
  100% {transform: scale(1);z-index: 3;}
}*/

@keyframes fuera-izq {
  0% {
    transform: scale(1) translatex(0%);
  }
  70% {
    transform: scale(.9) translatex(-100%);
  }
  100% {
    transform: scale(.9) translatex(-7%);
  }
}

@keyframes fuera-dch {
  0% {
    transform: scale(1) translatex(0%);
  }
  70% {
    transform: scale(.9) translatex(100%);
  }
  100% {
    transform: scale(.9) translatex(7%);
  }
}

@keyframes central {
  0% {
    transform: scale(.8);
    z-index: 1;
  }
  80% {
    transform: scale(.5);
    z-index: 3;
  }
  100% {
    transform: scale(1);
    z-index: 3;
  }
}

/*#gallery,#movimiento {
  perspective: 1200px;
}

#spinner,#flechas-slide {
  transform-style: preserve-3d;
  height: 300px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50% -500px;
  transition: 1s;
  text-align: center;
}

/*#spinner img , .flecha{
    width: 86%;
    position: absolute;
    left: 0;
    -webkit-transform-origin: 50% 50% -700px;
    display: inline-block;
    transform-origin: 50% 50% -815px;
    outline: 1px solid transparent;
}
#movimiento{
  margin-top:-300px;
}

/*Pa 3*

#spinner > img:nth-child(1) {
  transform: rotateY(0deg);
}

#spinner > img:nth-child(2) {
  transform: rotateY(45deg);
}

#spinner > img:nth-child(3) {
  transform: rotateY(-45deg);
}

#flechas-slide div:nth-child(2)	 {
  transform: rotateY(45deg);
}

#flechas-slide div:nth-child(1) {
  transform: rotateY(-45deg);
}*/

@media (min-width:320px) and (max-width: 852px) {
  #visitador {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: initial;
  }
  .posicion-izq {
    text-align: center;
  }
  .posicion-izq video {
    width: auto;
    height: 86vh;
  }
  #videos {
    width: 100%;
    position: initial;
    z-index: initial;
    margin: 0;
    display: none;
  }
  .video-movil {
    right: 0;
    left: 0;
    margin: initial;
  }
  #uno:checked ~ .una .otra,
  #prox:checked ~ .dos .otra {
    display: none;
  }
  #uno:checked ~ .dos,
  #prev:checked ~ .una {
    animation: none;
    animation-fill-mode: none;
    transform-origin: initial;
    z-index: initial;
  }
  #prox:checked ~ .una,
  #prev:checked ~ .dos {
    animation: none;
    animation-fill-mode: none;
    transform-origin: initial;
    z-index: initial;
  }
  #uno:checked ~ .una,
  #prox:checked ~ .dos {
    animation: none;
    animation-fill-mode: none;
    transform-origin: initial;
    z-index: initial;
  }
  .galeria {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 10%;
  }
  .galeria:before {
    padding-top: 3%;
    display: block;
  }
  .galeria p {
    display: block;
    font-size: 4vw;
    font-family: 'NeoSansLight';
    color: #2f324f;
  }
  .card {
    position: initial;
    margin-bottom: 6%;
  }
}

@media (min-width:571px) and (max-width:852px) {
  .card {
    height: 39vw
  }
}

@media (min-width:320px) and (max-width:570px) {
  .card {
    height: 37vw
  }
}
